<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/decaf.min.css"
		/>
		<link rel="stylesheet" href="../../style.css" />
		<title>Rhythm UI - Colors</title>
	</head>

	<body>
		<div class="navbar centered">
			<a href="../../index.html">Rhythm UI</a>
			<a href="../installation.html" class="centered active-navbar">Docs</a>
			<a href="https://github.com/muskaanshah/Rhythmui" class="centered"
				>Github</a
			>
		</div>
		<div class="documentation-page">
			<div class="drawer drawernew drawer-toggle" data-visible="true">
				<p class="drawer-label fw-500">Getting Started</p>
				<div class="divider-black mb-0-5"></div>
				<a href="../installation.html" class="drawer-link">Installation</a>
				<a href="../colours/colors.html" class="drawer-link active">Colours</a>
				<a href="../typography/typography.html" class="drawer-link"
					>Typography</a
				>
				<a href="../utilities/utilities.html" class="drawer-link">Utilities</a>
				<p class="drawer-label fw-500">Components</p>
				<div class="divider-black mb-0-5"></div>
				<a href="../alert/alert.html" class="drawer-link">Alert</a>
				<a href="../avatar/avatar.html" class="drawer-link">Avatar</a>
				<a href="../badge/badge.html" class="drawer-link">Badge</a>
				<a href="../button/button.html" class="drawer-link">Button</a>
				<a href="../card/cards.html" class="drawer-link">Card</a>
				<a href="../drawer/drawer.html" class="drawer-link">Drawer</a>
				<a href="../images/images.html" class="drawer-link">Image</a>
				<a href="../input/input.html" class="drawer-link">Input</a>
				<a href="../list/lists.html" class="drawer-link">Lists</a>
				<a href="../navigation/navigation.html" class="drawer-link"
					>Navigation</a
				>
				<a href="../rating/rating.html" class="drawer-link">Rating</a>
				<a href="../toast/toast.html" class="drawer-link">Toast</a>
			</div>
			<div class="documentation-content p-3">
				<button
					aria-controls="drawer"
					aria-expanded="false"
					class="components-menu-hamburger"
				>
					<span class="material-icons-round fs-2"> menu </span>
				</button>
				<h2>Colours</h2>
				<p class="blocktext">
					Rhythm uses a variety of colours as to provide more customiation
					styles for the user.
				</p>
				<div class="colors-grid">
					<div class="colors-grid-child">
						<div class="color-box bg-primary"></div>
						<p>primary</p>
					</div>
					<div class="colors-grid-child">
						<div class="color-box bg-secondary"></div>
						<p>secondary</p>
					</div>
					<div class="colors-grid-child">
						<div class="color-box bg-accent"></div>
						<p>accent</p>
					</div>
					<div class="colors-grid-child">
						<div class="color-box bg-success"></div>
						<p>success</p>
					</div>
					<div class="colors-grid-child">
						<div class="color-box bg-success-dark"></div>
						<p>success-dark</p>
					</div>
					<div class="colors-grid-child">
						<div class="color-box bg-success-light"></div>
						<p>success-light</p>
					</div>
					<div class="colors-grid-child">
						<div class="color-box bg-danger"></div>
						<p>danger</p>
					</div>
					<div class="colors-grid-child">
						<div class="color-box bg-danger-dark"></div>
						<p>danger-dark</p>
					</div>
					<div class="colors-grid-child">
						<div class="color-box bg-danger-light"></div>
						<p>danger-light</p>
					</div>
					<div class="colors-grid-child">
						<div class="color-box bg-warning"></div>
						<p>warning</p>
					</div>
					<div class="colors-grid-child">
						<div class="color-box bg-warning-dark"></div>
						<p>warning-dark</p>
					</div>
					<div class="colors-grid-child">
						<div class="color-box bg-warning-light"></div>
						<p>warning-light</p>
					</div>
					<div class="colors-grid-child">
						<div class="color-box bg-grey"></div>
						<p>grey</p>
					</div>
					<div class="colors-grid-child">
						<div class="color-box bg-grey-dark"></div>
						<p>grey-dark</p>
					</div>
					<div class="colors-grid-child">
						<div class="color-box bg-grey-light"></div>
						<p>grey-light</p>
					</div>
					<div class="colors-grid-child">
						<div class="color-box bg-tealgreen"></div>
						<p>tealgreen</p>
					</div>
					<div class="colors-grid-child">
						<div class="color-box bg-tealgreen-dark"></div>
						<p>tealgreen-dark</p>
					</div>
					<div class="colors-grid-child">
						<div class="color-box bg-tealgreen-light"></div>
						<p>tealgreen-light</p>
					</div>
				</div>
				<p class="blocktext">
					These are the colour variables which are being used.
				</p>
				<p class="blocktext">
					Add a bg- followed by the color variable name if you want to use the
					colour as the background color, color- followed by the variable name
					if you want to use it as a font color and border - followed by the
					variable name if you want to use the colour for the border.<br /><br />
					<code class="code-highlight">bg-<i>colorname</i></code>
					<code class="code-highlight">color-<i>colorname</i></code>
					<code class="code-highlight">border-<i>colorname</i></code>
				</p>
				<div
					class="bg-secondary color-danger-dark border-primary centered py-1"
				>
					This has light blue background color, red font and dark blue border
				</div>
				<pre class="code-example"><code class="tag">
&lt;div class="bg-secondary color-danger-dark border-primary"&gt;This has light blue background color, red font and dark blue border&lt;/div&gt;
                </code></pre>
				<p class="blocktext">
					<span class="color-tealgreen fw-500 text-underline">Note:</span> There
					are two more colours which are used - white : #f5f5f5 and black :
					#353535, which can be used in the same way as above.
				</p>
				<div class="page-navigation-wrapper">
					<div class="page-navigation-left">
						<span> ‹ </span><a href="../installation.html">Installation</a>
					</div>
					<div class="page-navigation-right">
						<a href="../typography/typography.html">Typography</a
						><span> › </span>
					</div>
				</div>
			</div>
		</div>
		<script src="../../app.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"
			integrity="sha512-IaaKO80nPNs5j+VLxd42eK/7sYuXQmr+fyywCNA0e+C6gtQnuCXNtORe9xR4LqGPz5U9VpH+ff41wKs/ZmC3iA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script>
			hljs.highlightAll();
		</script>
	</body>
</html>
