:root {
	--white: #f5f5f5;
	--primary: #1d4552;
	--secondary: #bdd4db;
	--accent: #ff875c;
	--black: #353535;
	--danger: #ef4444;
	--danger-light: #f8d7dd;
	--danger-dark: #b11919;
	--warning: #f8af42;
	--warning-light: #fdefbf;
	--warning-dark: #e9910e;
	--success: #2dc653;
	--success-light: #d1e7dd;
	--success-dark: #037c21;
	--grey: #9c9c9c;
	--grey-light: #dbdbdb;
	--grey-dark: #5a5a5a;
	--tealgreen: #5aa286;
	--tealgreen-dark: #1c8059;
	--tealgreen-light: #aad1c2;
}

@import url(components/alert/alert.css);
@import url(components/button/buttons.css);
@import url(components/avatar/avatar.css);
@import url(components/badge/badges.css);
@import url(components/drawer/drawer.css);
@import url(components/card/cards.css);
@import url(components/input/input.css);
@import url(components/list/list.css);
@import url(components/navigation/navigation.css);
@import url(components/slider/slider.css);
@import url(components/modal/modal.css);
@import url(components/rating/rating.css);
@import url(components/toast/toast.css);
@import url(components/typography/typography.css);
@import url(components/utilities/utilities.css);
@import url(components/colours/colorstyle.css);
