.avatar {
	width: 5rem;
	height: auto;
	max-width: 100%;
}

.avatar-lg {
	max-width: 8rem;
	height: auto;
}

.avatar-sm {
	max-width: 3rem;
	height: auto;
}

.avatar-default {
	width: 5rem;
	height: 5rem;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.avatar-default-lg {
	width: 8rem;
	height: 8rem;
	font-size: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.avatar-default-sm {
	width: max(3rem, 36px);
	height: auto;
	aspect-ratio: 1;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
