<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/decaf.min.css"
		/>
		<link rel="stylesheet" href="../../style.css" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
		<title>Rhythm UI | Toast</title>
	</head>

	<body>
		<div class="navbar centered">
			<a href="../../index.html">Rhythm UI</a>
			<a href="../installation.html" class="centered active-navbar">Docs</a>
			<a href="https://github.com/muskaanshah/Rhythm-UI" class="centered"
				>Github</a
			>
		</div>
		<div class="documentation-page">
			<div class="drawer drawernew drawer-toggle" data-visible="true">
				<p class="drawer-label fw-500">Getting Started</p>
				<div class="divider-black mb-0-5"></div>
				<a href="../installation.html" class="drawer-link">Installation</a>
				<a href="../colours/colors.html" class="drawer-link">Colours</a>
				<a href="../typography/typography.html" class="drawer-link"
					>Typography</a
				>
				<a href="../utilities/utilities.html" class="drawer-link">Utilities</a>
				<p class="drawer-label fw-500">Components</p>
				<div class="divider-black mb-0-5"></div>
				<a href="../alert/alert.html" class="drawer-link">Alert</a>
				<a href="../avatar/avatar.html" class="drawer-link">Avatar</a>
				<a href="../badge/badge.html" class="drawer-link">Badge</a>
				<a href="../button/button.html" class="drawer-link">Button</a>
				<a href="../card/cards.html" class="drawer-link">Card</a>
				<a href="../drawer/drawer.html" class="drawer-link">Drawer</a>
				<a href="../grid/grid.html" class="drawer-link">Grid</a>
				<a href="../images/images.html" class="drawer-link">Image</a>
				<a href="../input/input.html" class="drawer-link">Input</a>
				<a href="../list/lists.html" class="drawer-link">Lists</a>
				<a href="../navigation/navigation.html" class="drawer-link"
					>Navigation</a
				>
				<a href="../modal/modal.html" class="drawer-link">Modal</a>
				<a href="../slider/slider.html" class="drawer-link">Slider</a>
				<a href="../rating/rating.html" class="drawer-link">Rating</a>
				<a href="../toast/toast.html" class="drawer-link active">Toast</a>
			</div>
			<div class="documentation-content p-3">
				<button
					aria-controls="drawer"
					aria-expanded="false"
					class="components-menu-hamburger"
				>
					<span class="material-icons-round fs-2"> menu </span>
				</button>
				<h2>Toast</h2>
				<p>
					Toasts are lightweight notifications designed to mimic the push
					notifications that have been popularized by mobile and desktop
					operating systems.
				</p>
				<div class="blocktext">
					<p>
						<code class="code-highlight">toast</code> - The main class; to be
						given to the wrapper div element
					</p>
					<p>
						<code class="code-highlight">toast-close</code> - Optional; to be
						given to the close button in case the toast requires one
					</p>
					<p>
						<code class="code-highlight">toast-link</code> - Optional, to be
						given to the anchor tag which requires an action
					</p>
				</div>
				<div class="blocktext">
					<div class="centered mb-1">
						<div class="toast borderradius-0-5">
							<span>You lost your internet connection</span>
							<button class="toast-close">
								<span class="material-icons"> close </span>
							</button>
						</div>
					</div>
					<div class="centered">
						<div class="toast borderradius-0-5">
							<span>Couldn't send message</span>
							<a class="toast-link" href="#">Retry</a>
							<button class="toast-close">
								<span class="material-icons"> close </span>
							</button>
						</div>
					</div>
				</div>
				<pre class="code-example"><code class="html">
&lt;div class="toast borderradius-0-5"&gt;
    &lt;span&gt;You lost your internet connection&lt;/span&gt;
    &lt;button class="toast-close"&gt;
        &lt;span class="material-icons"&gt; close &lt;/span&gt;
    &lt;/button&gt;
&lt;/div&gt;
&lt;div class="toast borderradius-0-5"&gt;
    &lt;span&gt;Couldn't send message&lt;/span&gt;
    &lt;a class="toast-link" href="#"&gt;Retry&lt;/a&gt;
    &lt;button class="toast-close"&gt;
        &lt;span class="material-icons"&gt; close &lt;/span&gt;
    &lt;/button&gt;
&lt;/div&gt;
                </code></pre>
				<div class="page-navigation-wrapper">
					<div class="page-navigation-left">
						<span> ‹ </span><a href="../rating/rating.html">Rating</a>
					</div>
				</div>
			</div>
		</div>
		<script src="../../app.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"
			integrity="sha512-IaaKO80nPNs5j+VLxd42eK/7sYuXQmr+fyywCNA0e+C6gtQnuCXNtORe9xR4LqGPz5U9VpH+ff41wKs/ZmC3iA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script>
			hljs.highlightAll();
		</script>
	</body>
</html>
