<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/decaf.min.css"
		/>
		<link rel="stylesheet" href="../../style.css" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
		<title>Rhythm UI | Navigation</title>
	</head>

	<body>
		<div class="navbar centered">
			<a href="../../index.html">Rhythm UI</a>
			<a href="../installation.html" class="centered active-navbar">Docs</a>
			<a href="https://github.com/muskaanshah/Rhythm-UI" class="centered"
				>Github</a
			>
		</div>
		<div class="documentation-page">
			<div class="drawer drawernew drawer-toggle" data-visible="true">
				<p class="drawer-label fw-500">Getting Started</p>
				<div class="divider-black mb-0-5"></div>
				<a href="../installation.html" class="drawer-link">Installation</a>
				<a href="../colours/colors.html" class="drawer-link">Colours</a>
				<a href="../typography/typography.html" class="drawer-link"
					>Typography</a
				>
				<a href="../utilities/utilities.html" class="drawer-link">Utilities</a>
				<p class="drawer-label fw-500">Components</p>
				<div class="divider-black mb-0-5"></div>
				<a href="../alert/alert.html" class="drawer-link">Alert</a>
				<a href="../avatar/avatar.html" class="drawer-link">Avatar</a>
				<a href="../badge/badge.html" class="drawer-link">Badge</a>
				<a href="../button/button.html" class="drawer-link">Button</a>
				<a href="../card/cards.html" class="drawer-link">Card</a>
				<a href="../drawer/drawer.html" class="drawer-link">Drawer</a>
				<a href="../grid/grid.html" class="drawer-link">Grid</a>
				<a href="../images/images.html" class="drawer-link">Image</a>
				<a href="../input/input.html" class="drawer-link">Input</a>
				<a href="../list/lists.html" class="drawer-link">Lists</a>
				<a href="../navigation/navigation.html" class="drawer-link active"
					>Navigation</a
				>
				<a href="../modal/modal.html" class="drawer-link">Modal</a>
				<a href="../slider/slider.html" class="drawer-link">Slider</a>
				<a href="../rating/rating.html" class="drawer-link">Rating</a>
				<a href="../toast/toast.html" class="drawer-link">Toast</a>
			</div>
			<div class="documentation-content p-3">
				<button
					aria-controls="drawer"
					aria-expanded="false"
					class="components-menu-hamburger"
				>
					<span class="material-icons-round fs-2"> menu </span>
				</button>
				<h2>Navigation menu</h2>
				<p>
					A navigation bar (or navigation system) is a section of a graphical
					user interface intended to aid visitors in accessing information. This
					helps the user to navigate between the various pages
				</p>
				<div class="blocktext">
					<p>
						<code class="code-highlight">nav</code> - The main class; to be
						given to the wrapper div / ul element
					</p>
					<p>
						<code class="code-highlight">nav-item</code> - To be given to each
						of the child p/li/a tags which contains the link
					</p>
					<p>
						<code class="code-highlight">nav-logo</code> - Optional; can give
						text, brand's logo in this class
					</p>
					<p>
						<code class="code-highlight">nav-logo-img</code> - Optional; to be
						used if an image is being given for the logo; if text is given, this
						can be omitted
					</p>
				</div>
				<div class="blocktext border-black">
					<ul class="nav">
						<li class="nav-logo">
							<a href="#"
								><img
									class="nav-logo-img"
									src="https://upload.wikimedia.org/wikipedia/commons/1/1e/RPC-JP_Logo.png"
							/></a>
						</li>
						<li class="nav-item"><a href="#">Home</a></li>
						<li class="nav-item"><a href="#">About</a></li>
						<li class="nav-item"><a href="#">Services</a></li>
						<li class="nav-item"><a href="#">Contact us</a></li>
					</ul>
				</div>
				<pre class="code-example"><code class="html">
&lt;ul class="nav"&gt;
    &lt;li class="nav-logo"&gt;
        &lt;a href="#"&gt;
            &lt;img
                class="nav-logo-img"
                src="https://upload.wikimedia.org/wikipedia/commons/1/1e/RPC-JP_Logo.png"
            /&gt;
        &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class="nav-item"&gt;&lt;a href="#"&gt;Home&lt;/a&gt;&lt;/li&gt;
    &lt;li class="nav-item"&gt;&lt;a href="#"&gt;About&lt;/a&gt;&lt;/li&gt;
    &lt;li class="nav-item"&gt;&lt;a href="#"&gt;Services&lt;/a&gt;&lt;/li&gt;
    &lt;li class="nav-item"&gt;&lt;a href="#"&gt;Contact us&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
                </code></pre>
				<div class="page-navigation-wrapper">
					<div class="page-navigation-left">
						<span> ‹ </span><a href="../list/lists.html">List</a>
					</div>
					<div class="page-navigation-right">
						<a href="../modal/modal.html">Modal</a><span> › </span>
					</div>
				</div>
			</div>
		</div>
		<script src="../../app.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"
			integrity="sha512-IaaKO80nPNs5j+VLxd42eK/7sYuXQmr+fyywCNA0e+C6gtQnuCXNtORe9xR4LqGPz5U9VpH+ff41wKs/ZmC3iA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script>
			hljs.highlightAll();
		</script>
	</body>
</html>
