<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/decaf.min.css"
		/>
		<link rel="stylesheet" href="../../style.css" />
		<title>Rhythm UI | Badge</title>
	</head>

	<body>
		<div class="navbar centered">
			<a href="../../index.html">Rhythm UI</a>
			<a href="../installation.html" class="centered active-navbar">Docs</a>
			<a href="https://github.com/muskaanshah/Rhythmui" class="centered"
				>Github</a
			>
		</div>
		<div class="documentation-page">
			<div class="drawer drawernew drawer-toggle" data-visible="true">
				<p class="drawer-label fw-500">Getting Started</p>
				<div class="divider-black mb-0-5"></div>
				<a href="../installation.html" class="drawer-link">Installation</a>
				<a href="../colours/colors.html" class="drawer-link">Colours</a>
				<a href="../typography/typography.html" class="drawer-link"
					>Typography</a
				>
				<a href="../utilities/utilities.html" class="drawer-link">Utilities</a>
				<p class="drawer-label fw-500">Components</p>
				<div class="divider-black mb-0-5"></div>
				<a href="../alert/alert.html" class="drawer-link">Alert</a>
				<a href="../avatar/avatar.html" class="drawer-link">Avatar</a>
				<a href="../badge/badge.html" class="drawer-link active">Badge</a>
				<a href="../button/button.html" class="drawer-link">Button</a>
				<a href="../card/cards.html" class="drawer-link">Card</a>
				<a href="../drawer/drawer.html" class="drawer-link">Drawer</a>
				<a href="../images/images.html" class="drawer-link">Image</a>
				<a href="../input/input.html" class="drawer-link">Input</a>
				<a href="../list/lists.html" class="drawer-link">Lists</a>
				<a href="../navigation/navigation.html" class="drawer-link"
					>Navigation</a
				>
				<a href="../rating/rating.html" class="drawer-link">Rating</a>
				<a href="../toast/toast.html" class="drawer-link">Toast</a>
			</div>
			<div class="documentation-content p-3">
				<button
					aria-controls="drawer"
					aria-expanded="false"
					class="components-menu-hamburger"
				>
					<span class="material-icons-round fs-2"> menu </span>
				</button>
				<h2>Badge</h2>
				<p class="blocktext">
					Badges are small elements which are used to indicate something. They
					can notify you that there are new or unread messages or notifications,
					or indicate the status of a user.
				</p>
				<h3>Number badge</h3>
				<div class="blocktext">
					<p>
						<code class="code-highlight">badge-container</code> - Has to be
						given to the wrapper class which is wrapping the icon and the badge
					</p>
					<p>
						<code class="code-highlight">badge</code> - Has to be given to the
						child div containing the number
					</p>
					<p>
						<code class="code-highlight">badge-number</code> - Has to be given
						to the child div containing the number; this indicates that the
						badge type is a number
					</p>
				</div>
				<div class="blocktext centered">
					<div class="badge-container">
						<span class="material-icons"> shopping_cart </span>
						<div class="badge badge-number bg-accent">3</div>
					</div>
					<div
						class="borderradius-full bg-accent p-0-5"
						style="display: inline-block"
					>
						<div class="badge-container">
							<span class="material-icons color-white"> notifications </span>
							<div class="badge badge-number bg-primary">17</div>
						</div>
					</div>
				</div>

				<pre class="code-example"><code class="html">
&lt;div class="badge-container"&gt;
    &lt;span class="material-icons"&gt;
        shopping_cart
    &lt;/span&gt;
    &lt;div class="badge badge-number bg-accent"&gt;3&lt;/div&gt;
&lt;/div&gt;
&lt;div class="borderradius-full bg-accent p-0-5"&gt;
    &lt;div class="badge-container"&gt;
        &lt;span class="material-icons color-white"&gt;
            notifications
        &lt;/span&gt;
        &lt;div class="badge badge-number bg-primary"&gt;17&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                </code></pre>

				<h3>Status badge</h3>
				<div class="blocktext">
					<p>
						<code class="code-highlight">badge-container</code> - Has to be
						given to the wrapper class which is wrapping the avatar and the
						badge
					</p>
					<p>
						<code class="code-highlight">badge</code> - Has to be given to the
						child div which shows the status
					</p>
					<p>
						<code class="code-highlight">badge-status</code> - Has to be given
						to the child div to state that a status badge is used
					</p>
					<p>
						<code class="code-highlight">badge-online</code> - Has to be given
						to the child div to show online status of the user
					</p>
					<p>
						<code class="code-highlight">badge-busy</code> - Has to be given to
						the child div to show busy status of the user
					</p>
					<p>
						<code class="code-highlight">badge-offline</code> - Has to be given
						to the child div to show offline status of the user; this is the
						default status if no status class is applied
					</p>
				</div>
				<div class="blocktext centered">
					<div class="badge-container">
						<img
							class="avatar-lg borderradius-full"
							src="https://i.ibb.co/1XTyD7H/man.png"
							alt="avatar image"
						/>
						<div class="badge badge-status badge-online"></div>
					</div>
					<div class="badge-container">
						<img
							class="avatar borderradius-full"
							src="https://i.ibb.co/V9mpCrw/woman-1.png"
							alt="avatar image"
						/>
						<div class="badge badge-status badge-busy"></div>
					</div>
					<div class="badge-container">
						<img
							class="avatar-sm borderradius-full"
							src="https://i.ibb.co/YW62Vd9/gamer.png"
							alt="avatar image"
						/>
						<div class="badge badge-status badge-offline"></div>
					</div>
				</div>

				<pre class="code-example"><code class="html">
&lt;div class="badge-container"&gt;
    &lt;img class="avatar-lg borderradius-full" src="https://i.ibb.co/1XTyD7H/man.png" alt="avatar image"&gt;
    &lt;div class="badge badge-status badge-online"&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="badge-container"&gt;
    &lt;img class="avatar borderradius-full" src="https://i.ibb.co/V9mpCrw/woman-1.png" alt="avatar image"&gt;
    &lt;div class="badge badge-status badge-busy"&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="badge-container"&gt;
    &lt;img class="avatar-sm borderradius-full" src="https://i.ibb.co/YW62Vd9/gamer.png" alt="avatar image"&gt;
    &lt;div class="badge badge-status badge-offline"&gt;&lt;/div&gt;
&lt;/div&gt;
                </code></pre>
				<div class="page-navigation-wrapper">
					<div class="page-navigation-left">
						<span> ‹ </span><a href="../avatar/avatar.html">Avatar</a>
					</div>
					<div class="page-navigation-right">
						<a href="../button/button.html">Button</a><span> › </span>
					</div>
				</div>
			</div>
		</div>
		<script src="../../app.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"
			integrity="sha512-IaaKO80nPNs5j+VLxd42eK/7sYuXQmr+fyywCNA0e+C6gtQnuCXNtORe9xR4LqGPz5U9VpH+ff41wKs/ZmC3iA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script>
			hljs.highlightAll();
		</script>
	</body>
</html>
